@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1c4980;
  background: #edf0f3
}

* {
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

h2{
  font-size: 22px;
  font-weight: 600;
}
h3{
  font-weight: 500;
  font-size: 14px;
}
strong{
  font-weight: 500;
  font-size: 30px;
}
li:hover{
  cursor: pointer;
  color: #0073e6;
}